{% extends 'base.html' %}

{% block head %}
<title>Adicionar Novo Produto</title>
{% endblock %}

{% block body %}
<h3>Adicionar Novo Produto</h3>
<a href="{{ url_for('produto.index') }}">Voltar</a>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ messages[0] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
    $(".alert").delay(5000).slideUp(200, function () {
        $(this).alert('close');
    });
</script>
{% endif %}
{% endwith %}

<form action="{{ url_for('produto.novo') }}" method="POST" autocomplete='off'>
    <div class='mb-3'>
        <label for='descricao' class='form-label'>Descrição</label>
        <input class='form-control' type='text' name='descricao' id='descricao'
            placeholder='Informe a descricao do produto' required autofocus />
    </div>

    <div class='mb-3'>
        <label for='preco' class='form-label'>Preço</label>
        <input class='form-control' type='text' name='preco' id='preco' placeholder='Informe o preço do produto'
            required />
    </div>

    <div class='mb-3'>
        <button type='submit' class='btn btn-primary mb-3'>Cadastrar</button>
    </div>
</form>
{% endblock %}