{% extends 'base.html' %} {% block head %}
<title>Clientes Cadastrados</title>
{% endblock %} {% block body %}
<h1>Lista de Clientes</h1>
<a href="{{ url_for('home') }}">Página Inicial</a>
<a href="{{ url_for('cliente.novo_cliente') }}">Adicionar Novo Cliente</a>
<h3>Clientes Cadastrados</h3>

<!-- Define a tabela para mostrar os clientes cadastrados -->
<table class="table table-striped">
  <!-- Define o cabeçalho da tabela -->
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Logradouro</th>
      <th>Número</th>
      <th>Complemento</th>
      <th>Bairro</th>
      <th>CEP</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Ações</th>

    </tr>
  </thead>
  <!-- Define o corpo da tabela -->
  <tbody>
    <!-- Loop para cada cliente na lista de clientes -->
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.logradouro }}</td>
      <td>{{ cliente.numero }}</td>
      <td>{{ cliente.complemento }}</td>
      <td>{{ cliente.bairro }}</td>
      <td>{{ cliente.cep }}</td>
      <td>{{ cliente.cidade }}</td>
      <td>{{ cliente.uf }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>{{ cliente.email }}</td>
      <td>
        <a href="{{ url_for('cliente.editar_cliente', id=cliente.id) }}" class="btn btn-primary btn-sm">Editar</a>
      </td>
      <td>
        <a href="{{ url_for('cliente.deleta_cliente', id=cliente.id) }}" class="btn btn-danger btn-sm">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}